* {
    box-sizing: border-box;
}
:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    background: #171100;
    border-radius: 999px;
    line-height: 50px;
}
.btn:hover {
    opacity: 0.9;
}
a {
    text-decoration: none;
}
/* header */
.header {
    background-color: #fffcf4;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    font-size: 1.6rem;
    color: #5f5b53;
    padding: 8px 21px;
    position: relative;
}
.nav li a:hover,
.nav li.active a {
    /* font-weight: 600; */
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
    content: "";
    display: block;
    height: 2px;
    width: 12px;
    background-color: #171100;
    position: absolute;
    left: 21px;
    bottom: 6px;
    border-radius: 1px;
}
.header .sign-up-btn {
    min-width: 144px;
    display: inline-block;
}
.header .action {
    margin-left: 49px;
}
/*hero*/
.hero {
    padding: 56px;
    background-color: #fffcf4;
}
.hero .body {
    display: flex;
}
.hero .media-block {
    width: 48%;
    position: relative;
}
.hero .media-block .img {
    width: 470px;
    height: 685px;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;
}
.hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    background: #fff;
    width: 270px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 28px 24px;
}
.hero-summary .item {
    display: flex;
}
.hero-summary .item + .item {
    margin-top: 22px;
}
.hero-summary .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff9e8;
}
.hero-summary .item:nth-child(2) .icon {
    background-color: #fcefff;
}
.hero-summary .item:nth-child(3) .icon {
    background-color: #ebeaff;
}
.hero-summary .item .info {
    margin-left: 16px;
}
.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}
.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}
.hero .content-block .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.02em;
}
.hero .content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.hero .content-block .cta-group {
    margin: 38px 0px;
    display: flex;
    align-items: center;
}
.hero-cta {
    line-height: 64px;
    min-width: 180px;
    background-color: var(--primary-color);
}
.hero .content-block .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background: #fff;
    margin-left: 28px;
    background-color: #fffcf4;
    cursor: pointer;
}
.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px #00000012;
}
.watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}
.hero .stats {
    margin: 8px 0 0 0 !important;
}
.hero .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.23;
    padding-right: 8px;
}
.hero .stats strong:nth-child(2) {
    margin-left: 28px;
}
